[2018-05-03 11:51] MRisto opened #2 "Upgrade Plan for angular 6"
Do you plan to uprade this to angular 6?

[2018-05-03 12:49] merlosy commented on #2
Yes, it is part of my plan.
For now, Angular is in rc6 and angular material in rc14.
I'm waiting for official release to do the upgrade.

[2018-05-03 13:11] MRisto commented on #2
Yeah can't wait till the full release

[2018-05-03 13:14] MRisto commented on #2
I have an older Version of your Code from a plunker i think. For Version 6 i only needed to add shouldLabelFloat and remove on the fm.monitor the renderer2.

[2018-05-03 13:29] merlosy commented on #2
Thanks for the tip.
I'm currently working on improving test coverage. It will make migration safer when the time will come to migrate

[2018-05-03 19:08] #2 closed

[2018-05-17 17:44] Tynarus opened #3 "Support for Angular 6 + RXJS 6"
Having issues using Angular 6. The first being RXJS imports being different, which is able to be avoided by importing the `rxjs-compat` package.

The second issue when using ng6 is the following:

[code]

Seems a new property was added in `MatFormFieldControl` that needs to be implemented within `FileInputComponent`.

[2018-05-19 16:00] merlosy commented on #3
This project is based on [nrwl/nx](https://github.com/nrwl/nx) and they are under active development to support Angular 6 and RXJS 6.
I will upgrade the lib through their CLI as soon as they're done.

BTW, you can try upgrading rxjs to v6 in your project with https://github.com/ReactiveX/rxjs-tslint

[2018-05-19 23:25] nhhockeyplayer opened #4 "demo"
can a demo app be made that shows end to end

ingesting a file into back end
and rendering that file back to UI

[2018-05-20 13:03] merlosy commented on #4
The purpose of this library is not to provide an end to end solution to upload your files. It is oriented to provide a visual component to manage smoothly the user experience. It integrates with angular material forms, and it's up to you to manage what happen when you submit the form containing the file.
If you want to retrieve your files, i can suggest you the Filesaver lib.

For questions regard

[2018-05-20 13:04] #4 closed

[2018-05-22 05:07] jarro commented on #3
can get it working by manually for now by making the following change before compile.

edit:
node_modules/ngx-material-file-input/src/file-input/file-input.component.d.ts

add
 `shouldLabelFloat: boolean;`

so it looks something like like.

[code]

[2018-05-24 17:35] Tynarus commented on #3
@jarro already done, but good to document for others. Thank you!

[2018-05-24 17:36] Tynarus commented on #3
@merlosy looks like https://github.com/nrwl/nx has been upgraded to NG 6 as of a few days ago. :)

[2018-05-24 21:47] Tynarus commented on #3
Aye, if I thought it would be that simple I'd fork and submit a PR hahah. There's always something!

[2018-05-29 11:54] a5hik opened #5 "Issues with ng g (generate) after upgrading to 6."
I had upgraded to nx version 6.0.2 (had to do it manually as the auto update crashed)..  was able to build and serve the app. but the generate command is failing and the logs are not useful to find anything.

Generating an gives the following error

Generating a Lib gives the following error.

Generating a Comp gives the below.

[2018-05-29 11:56] a5hik commented on #5
wrong window

[2018-05-29 11:56] #5 closed

[2018-06-06 08:33] Smiter15 commented on #3
Any news on this ?

[2018-06-18 20:53] andrewinkler1 commented on #3
any update?

[2018-06-18 20:57] merlosy commented on #3
It's still a work in progress.
Basically it works, it's just about changes in running test, project config and packaging that changed with the new version of nx and angular

[2018-06-26 18:10] Albejr opened #6 "Drag and Drop"
Enable option to drag and drop files "here"

[2018-06-27 12:50] merlosy commented on #6
Already on my roadmap, after ng 6 migration is solved. :)

[2018-06-28 14:48] wild2999 opened #7 "Adding opportunity to use this lib for dynamic reactive driven forms"
Hello!
Thank you very much for this useful angular package!

I faced a problem that this lib cannot work with dynamic formControlName `[formControlName]`.
Can you add please this opportunity?

Thanks.

[2018-07-04 22:09] merlosy commented on #3
Migration done!
For version with angular 6 -> see 0.2.0

[2018-07-04 22:09] #3 closed

[2018-07-06 18:44] merlosy commented on #7
@wild2999 It IS already working with model driven form.
I invite you to have a look at the demo site i set up: https://merlosy.github.io/ngx-material-file-input/

Please let me know if there are any missing bits in the docs.

[2018-07-06 18:44] #7 closed

[2018-07-22 21:30] Amunds opened #9 "Error with setValue on FileInput control"
I'm doing a onChange: `<ngx-mat-file-input (change)="onFileChange(formDoc.value)">`

[code]
This results in the following error in console:

[code]
The error happens as soon as onFileChange is called and continues forever as long as you're on the page.

There is also an error with the validator:

`ERROR TypeError: Cannot read property 'map' of undefined
    at file-validator.ts:15
    at forms.js:

[2018-07-23 12:49] merlosy commented on #9
Hi Amunds,
Form the [docs](https://github.com/merlosy/ngx-material-file-input#ngxmatformfield), the value of the field should be a `FileModel` object.
Implementation here: https://github.com/merlosy/ngx-material-file-input/blob/master/libs/material-file-input/src/lib/model/file-input.model.ts

You should try:
[code]
Let me know if this solves your issue.

*Bonus tip*: you can try using fromEvent()

[2018-07-23 23:29] Amunds commented on #9
I tried adding `new FileInput([reader.result])` but got the same error. I've also started getting NaN for actualSize in the validator. However, the validator is no longer throwing TypeError.

I'm now using the readFile function with the same issue. Please correct me if I'm wrong as I'm not proficient enough to debug this myself, but from my understanding FileInput only accepts File and not Blob. S

[2018-07-24 08:47] merlosy commented on #9
Can you manage to set up a stackblitz demo of your issue.
That would be easier for me to debug your issue.

You can fork this: https://stackblitz.com/edit/ngx-material-file-input

[2018-07-25 18:57] merlosy commented on #9
Ok, this seems to be related to template driven forms.
https://stackblitz.com/edit/ngx-material-file-input-v3a7ij

I'll add to my todo list

[2018-08-16 10:46] Nocsus opened #10 "Attachment File Directory in FileInput object"
Im creating a project when i need the full file directory for JSON file when i read it, but i only see _fileNames: in FileInput, it would be helpfull to have directory as well. Or maybe it is there but i dont know where.

[2018-08-16 11:01] Nocsus commented on #10
Now i see that in the _files array in my elemnt there is property of webkitRelativePath: "", but as you see its empty

[2018-08-17 06:02] Nocsus commented on #10
Sorry my bad, i know that browsers cant get file directory, i need to upload file to the server and then read directory from server.

[2018-08-17 06:02] #10 closed

[2018-09-12 17:40] peterbsmith2 commented on #9
@Amunds I used [this](https://github.com/efimov82/angular-intro/blob/8ada0273d3dc4a07343cc7e89dc9ad60d8c56829/src/app/profile/pages/settings/settings.component.ts#L42-L79) to get around the same error you had

[2018-09-16 09:34] merlosy commented on #9
closing as of version 0.3.0

[2018-09-16 09:34] #9 closed

[2018-09-25 13:58] ksuhiyp opened #13 "Template parse errors"
I've included the first example, and put providers in app module  and imported deps as advised

[code]
Error occurs

`Uncaught Error: Template parse errors:
No provider for NgControl ("
  </mat-form-field>
  <mat-form-field>
    [ERROR ->]<ngx-mat-file-input formControlName="basicfile" placeholder="Basic Input" ></ngx-mat-file-input>
    "): ng:///AppModule/CreateArticleComponent.html@6:4
    at s

[2018-09-26 16:17] ksuhiyp commented on #13
Which form type this package uses template or reactive ?

[2018-10-17 14:09] merlosy commented on #13
It is working with both form style. It uses angular native principles.

Can you provide a reproduction case?
https://stackblitz.com/edit/ngx-material-file-input

[2018-10-19 14:36] marioteik opened #15 "Async Upload to AWS S3"
That would be a good feature for the roadmap. Let me know if you want me to colaborate with that.

[2018-10-19 14:38] marioteik opened #16 "File preview"
That would be a good feature. Let me know if you want me to colaborate with this.

[2018-10-20 10:41] #13 closed

[2018-11-19 00:57] rohanrichards opened #18 "mat-error not showing"
I am testing this with a reactive form and when using Validators.required the `<mat-error>` directive is not showing.
This issue is also visible on the demo page under the `Input with validation: required and maxSize` sub section:
https://merlosy.github.io/ngx-material-file-input/

my code currently
template:
[code]
component:
[code]

I have tried this alternative method of getting errors: `*ngIf=

[2018-11-19 01:19] merlosy commented on #18
Did you set on your form tag:
[code]

[2018-11-19 01:36] merlosy commented on #15
This use case is too specific. My goal with this lib is to remain agnostic.
What could be considered is a utilitary service to help upload files with a progress status, maybe as a rxjs custom operator.

[2018-11-19 01:46] merlosy commented on #18
Can you detail the version of Firefox you are using, and if you have any active extension that could be interfering

[2018-11-19 01:46] merlosy commented on #18
I'll try to look into later

[2018-11-19 01:52] rohanrichards commented on #18
I disabled all extensions and used a private window.
Firefox version: 63.0.3 (64-bit)
I used ngx-rocket scaffolding to start the project and Angular Material for the front-end components.
relevant package.json section
[code]

If there's any more information I can provide please don't hesitate to ask. Thank you for looking into this.

[2018-11-27 16:09] #16 closed

[2018-11-27 16:09] #15 closed

[2018-12-14 23:04] jzgoda opened #19 "Can't import FileInputComponent"
It doesn't look like `FileInputComponent` is being exported in the `index.d.ts` file, would it be possible to add this?

I'm trying to programmatically set the value by using the `writeValue` method when a file is added through drag/drop.

If I try to import like this:
[code]

I get the error:
[code]

[2018-12-17 01:46] merlosy commented on #19
Can you try the following:
[code]

[2018-12-19 20:05] jzgoda commented on #19
Sorry, I should have been more specific in my first post; that is the solution I'm looking to be able to do.

When I do that, I get the error: `node_modules/ngx-material-file-input/ngx-material-file-input"' has no exported member 'FileInputComponent'`

When looking at `ngx-material-file-input.d.ts`, the following is listed:
[code]

I just tried using the `ɵb`, and that actually seems to work:

[co

[2018-12-21 14:34] jzgoda commented on #19
I'm not having any issues using the component in a template, and yes, I'm importing `MaterialFileInputModule` as expected.

I'm having problems using the `FileInputComponent` class, in particular, importing that class into any `.ts` file. So something simple like:

[code]

This can't be done because in the `ngx-material-file-input.d.ts`, `FileInputComponent` is being exported as `ɵb`. This same is

[2018-12-21 14:53] jzgoda commented on #19
I think adding the following lines to `ngx-material-file-input/libs/material-file-input/src/index.ts` and re-packaging might solve this issue:

[code]

[2018-12-24 12:45] mungpara opened #20 "support for Form field appearance variants"
The mat-form-field supports 4 different appearance variants which can be set via the appearance input. The legacy appearance is the default style that the mat-form-field has traditionally had.

https://material.angular.io/components/form-field/overview#form-field-appearance-variants

[2019-01-09 19:04] Tavisco opened #21 "How to clear the input?"
How can I programaticaly clear the file input?

I've tried binding it to a model like the following code, setting that model to `null`, but it didn't worked
`<ngx-mat-file-input ... [(ngModel)]="myModel"></ngx-mat-file-input>`

Any advices?

[2019-01-10 02:51] merlosy commented on #21
I started worked on a new feature to ease the possibility to clear the input.
It would also come as a workaround for an issue with Firefox that doesn't triggers `change` event when a user cancels, instead of selecting the file(s) to upload.

The documentation and example will arrive at the same time :)

[2019-01-10 02:53] merlosy commented on #19
coming soon :)

[2019-01-23 22:48] jzgoda commented on #19
Thank you @merlosy!

[2019-02-12 17:21] anafreitas commented on #21
Hi, I think there is a bug in this method. If I remove a file and insert the same file again, the input doesn't accept it. This bug is present in the demo page.

[2019-02-13 11:06] anafreitas opened #24 "Bug when clear input"
I think there is a bug when you clear the input. If I remove a file and insert the same file again, the input doesn't accept it. This bug is present in the demo page.

[2019-02-27 15:54] jbonet commented on #24
Very annoying bug. Any workaround?

[2019-02-28 11:10] anafreitas commented on #24
Yes. I discovered that the file input is not being cleaned when you call the clear function, so I did this:

[code]

[2019-02-28 11:24] jbonet commented on #24
Thanks, it worked like a charm

[2019-03-02 18:54] merlosy commented on #24
Fix merged with https://github.com/merlosy/ngx-material-file-input/pull/26

[2019-03-03 17:16] #24 closed

[2019-03-08 15:41] JKancel opened #27 "Cancelling file upload dialog clear input values"
Hi,

I encoutered an issue, when I'm closing the uploading file dialog whithout selected any files. If there was some files remaining from a previous selection. These one are all cleared.

Is it a normal behavior ?

Regards,

J.KANCEL

[2019-03-09 20:12] merlosy commented on #27
Hi @JKancel ,
Clearing the files on cancel is the default behaviour in most browser except Firefox, you can verify [here](https://developer.mozilla.org/fr/docs/Web/HTML/Element/Input/file).
This is also a reason why I added the `clear` method to the component API.

[2019-03-09 20:12] #27 closed

[2019-03-09 20:46] merlosy opened #28 "Support from `capture` attribute"
## Support for `capture` attribute.

### Support
https://caniuse.com/#feat=html-media-capture

As of today:
- not supported by most desktop browser
- supported on Android devices, kind of

### Experiments

https://next.plnkr.co/edit/aoPZOZ1hmgQosa0h?open=lib%2Fscript.js&preview

[2019-05-02 14:44] danieldanielecki opened #29 "Accepting multiple files [demo/docs improvement]"
Maybe it would be a good idea to show that you can also accept multiple formats in a form of array?

This is how I got it working, adding as a reference:
[code]

[2019-05-02 14:51] danieldanielecki opened #30 "Improve documentation FileValidator"
Please add to the demo that the following import `import { FileValidator } from 'ngx-material-file-input';` is required.

[2019-05-08 14:39] danieldanielecki opened #31 "Allow Files (*.*)"
It seems to me it might be out of scope for this dependency, but is there a way to disable "Allow Files (*.*)"? Basically right now user can simply choose this from a dropdown once a pop up with files to upload will appear and upload anything she/he wants. The only way to reject the unwanted files is by making Angular's validations on the front-end side for files with endings on specific file name

[2019-05-30 07:28] subotin94 opened #33 "Files with long name exceed input's width"

[2019-06-04 16:10] teusemanuel opened #34 "Support for Angular Material 8"
Have a plan to add support for angular material 8?

[2019-06-04 17:24] merlosy commented on #34
Hi! I do. I've just been busy lately but i'll get to it soon

[2019-06-05 00:27] merlosy commented on #33
can you provide a reproduction example?

[2019-06-05 00:29] merlosy commented on #29
I'll have a look.
Basically, it's the same as native file input i guess

[2019-06-07 07:18] yglodt opened #35 "Demo does not work with IE11"
Hello,

the demo https://merlosy.github.io/ngx-material-file-input/ does not work in IE11 with the following error:

![image](https://user-images.githubusercontent.com/489599/59087506-1b74ec00-8905-11e9-8bad-4dc62f0e5173.png)

Maybe it's just a matter of enabling the polyfills.

[2019-06-07 07:22] yglodt commented on #18
Info as of June 2019:

The error shows up as expected in Chrome, so no problem there.

In Firefox however, it only shows up after the second time you open and cancel a file-open dialog.

[2019-06-21 22:15] idzer0lis commented on #30
Also about maxSize from the docs...if its in bites, bytes, mb, whatever.

[2019-07-02 03:28] pangjianxin commented on #34
+1

[2019-07-11 07:26] Gemorroj commented on #34
https://github.com/Vrael/ngx-material-file-input/commit/1400a8b2dc07a04fa5e1cb02f17c4a367243f1c2

[2019-07-16 09:51] bbortt commented on #34
@Gemorroj are you planning to include it into the main repository?

[2019-07-16 09:53] Gemorroj commented on #34
@bbortt it's not my repo)
ping @Vrael

[2019-07-16 10:51] bbortt commented on #34
Uhh yeah.. my bad. Anyways, it would be a useful update 👍

[2019-07-26 07:21] danieldanielecki commented on #34
+1

[2019-07-26 08:39] bbortt commented on #34
cherry-picked https://github.com/Vrael/ngx-material-file-input/commit/1400a8b2dc07a04fa5e1cb02f17c4a367243f1c2 into a pr -> #36

[2019-07-29 16:25] merlosy commented on #20
Demo available with https://github.com/merlosy/ngx-material-file-input/pull/37

[2019-07-29 16:25] #20 closed

[2019-07-30 09:09] merlosy commented on #30
@idzer0lis It definitely won't be in bites :). The existing pipe itself is called `byteFormat`, if you think it lacks a `bitFormat` pipe, please open another issue.

[2019-07-30 09:11] merlosy commented on #30
@danieldanielecki I'm adding it to the demo app, in the form validation section. Sorry for the delay

[2019-07-30 09:11] #30 closed

[2019-07-30 09:39] merlosy commented on #29
From the native [accept](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file#attr-accept) docs, it should be a `string`. Even though it seems to work for you, it may not work for some browsers.

[2019-07-30 09:39] #29 closed

[2019-08-05 07:55] Gemorroj commented on #34
@merlosy any news?

[2019-08-05 08:20] Vrael commented on #34
Hi! I didn't PR changes because automated test failed.
I noticed Travis uses nodejs 8.16.0 but on my local works fine with 10.16.0.

[2019-08-10 09:47] bbortt commented on #34
The error is:

The official Node.js version that is supported is 10.9 or greater.
I will update the PR.

[2019-08-12 17:38] bbortt commented on #34
Build passing now. Thx to @kvloover..

[2019-08-20 18:07] abouroubi commented on #34
Any news on this ?

[2019-08-21 05:31] bbortt commented on #34
pr is ready, I've tagged the owner. No feedback so far.

[2019-08-24 23:02] #34 closed

[2019-08-29 05:24] JohanurRahman opened #38 "Placeholder not working when mat-form-field appearance is outline."

[2019-08-29 14:26] andreivictor opened #39 "Disabled input still receives focus"
If the input is disabled, it should not receive focus, in order to be consistent with `matInput` behavior.

Please check the following stackblitz demo:
https://stackblitz.com/edit/ngx-material-file-input-ax3euj

[2019-09-03 10:01] carlospalacin commented on #38
Same problem detected

[2019-09-13 14:23] merlosy commented on #38
This is a breaking change introduced by the Angular Material team itself as mentioned @bohoffi.

It is already mentioned in the demo/docs website https://merlosy.github.io/ngx-material-file-input/#appearance

Your previous/legacy/default field should keep working as expected, but if you wish to use other appearances, you need to use the `<mat-label>` tag instead of the placeholder attribute.

[2019-09-13 14:28] merlosy commented on #35
Did you try with ES6 polyfills?

[2019-09-14 16:50] yglodt commented on #35
It works definately with the polyfills in my Angular projet. This issue was about the fact that the demo does not work with IE 11.

[2019-10-27 19:00] mhagnumdw commented on #6
Any news here?

[2019-10-27 23:55] mhagnumdw opened #40 "Compatibility to Angular and Angular Material Versions"
I am using Angular 6.1.x and Angular Material 6.4.x.
`ngx-material-file-input version` 2.0.0 is not compatible, throwing error in `ng serve`:  Class 'FileInputComponent' incorrectly implements class 'MatFormFieldControl<FileInput>'

Version 1.1.1 seems to work fine.

What do you think of creating a compatibility matrix in README?

[2019-10-31 23:49] jlzor commented on #33
Files with long name exceed input's width, an Example:

![error](https://user-images.githubusercontent.com/12281413/67993480-4a666400-fbfe-11e9-89e6-d0fa5f793e44.png)

[2019-11-03 18:19] merlosy commented on #33
@jlzor thanks for reporting the issue.
I'll hide text overflow and put some ellipsis (...).

[2019-11-03 19:37] merlosy commented on #33
@subotin94 @jlzor Do you have some time to check if the PR fixes the issue?
It seems so on my side, but a second opinion is always appreciated :)

[2019-11-03 19:55] subotin94 commented on #33
I will check it in the next few weeks. Thank you @merlosy

[2020-01-02 22:44] anthonyrivas commented on #33
@merlosy Just pulled this, and can confirm it fixes the issue on my end as well.

[2020-01-09 08:10] matcho opened #45 "Support for Angular Material 9"
Hi.

Trying to compile with Angular Material 9 (exactly `9.0.0-rc.7`), I get errors looking like this :

[code]

It seems related to the fact that from version 9, Angular Material does not export all its classes in `index.d.ts` anymore, and one has to import them from deeper paths, for ex:
[code]

It's hopefully not such a big deal to update, maybe you have plans for this ?

Thank you, the file in

[2020-01-11 17:18] #33 closed

[2020-01-11 19:08] anthonyrivas commented on #6
@merlosy Any thoughts on #44 as a short term solution for this?

[2020-02-06 13:45] KarlJorgen commented on #45
Hi
Any news about a new release for Angular 9?

[2020-02-07 11:28] damogallagher commented on #45
HI

I encountered the same issue, just wondering if there is a workaround available or an update planned for this library?

[2020-02-09 13:17] jm06487 commented on #45
any updates?

[2020-02-09 22:03] merlosy commented on #45
Hi all! I'm a bit busy for now, i will try to make a new release during the weekend :) thanks @matcho for the PR and everyboby for the reviews!

[2020-02-11 10:18] jsanz1209 commented on #45
Hi @merlosy! Would it be very difficult for you accept the pull request, today? only it would be to change the angular material paths. My project is depending on you for this :)

Thanks very much in advances.

[2020-02-11 10:30] rsuk commented on #45
@merlosy Would be really valuable for me too (is the last remaining issue blocking an Angular 9 upgrade), and would build confidence generally in using your library in active projects.

[2020-02-11 12:05] d00lar commented on #45
yep me also please appove this ;)

[2020-02-13 08:07] w0ns88 commented on #45
Same here. When can we expect the PR to go through?

[2020-02-13 08:23] WayneBarnard commented on #45
Any update on this?

[2020-02-13 14:27] davidkarlsen commented on #45
Folks - keep your hair on and read the tracker - he says he's gonna look at it in the weekend.

[2020-02-14 18:51] chroniclesBR commented on #45
Waiting the update too

[2020-02-15 15:02] ciukstar opened #47 "Uncaught TypeError: Object(...) is not a function"
[code]
Environment:
[code]

[2020-02-16 00:13] merlosy commented on #47
Is this related to support for angular v9?

[2020-02-16 00:16] merlosy commented on #45
#47 seems also related to this

[2020-02-16 00:16] #47 closed

[2020-02-16 12:48] jm06487 commented on #45
should we be expecting a release before the end of the week?

[2020-02-16 14:51] davidkarlsen commented on #47
@merlosy yes, I believe it is, as the code under library/ is still old and needs to upgrade and do deep package imports for material dependencies.

[2020-02-16 17:42] #45 closed

[2020-02-16 18:51] merlosy commented on #45
Hi folks! the new version [2.1.0](https://github.com/merlosy/ngx-material-file-input/releases/tag/v2.1.0) compatible with angular 9 is out.

[2020-02-16 19:00] rsuk commented on #45
Many thanks for this - I for one really appreciate it.

[2020-02-16 19:09] KarlJorgen commented on #45
Great work mate.

[2020-02-17 08:09] keyone2693 opened #49 "cant be use in angular 9"
can u update the code to use it in angular 9

[2020-02-17 08:31] zimo85 commented on #49
I am updating material via ng update @angular/material, but I cannot complete the process, receiving this error:
 Package "ngx-material-file-input" has an incompatible peer dependency to "@angular/material" (requires "^8.1.1", would install "9.0.0").

I have already updated the ngx-material-file-input to 2.1.0 version

[2020-02-17 11:00] jm06487 commented on #45
Thank you much for this.   Works great!!!

[2020-02-19 09:33] Void-0 commented on #49
Same here. There are some breaking changes in v9 related to imports from Angular and Angular material where you need to target more specific import paths now, meaning any v8 angular projects / components will need to be updated.

[2020-02-22 21:20] merlosy commented on #49
Would this fit your needs? https://github.com/merlosy/ngx-material-file-input/blob/master/libs/material-file-input/package.json

[2020-02-23 10:22] keyone2693 commented on #49
problems are with the new way of importing angular material

[2020-02-23 22:23] merlosy commented on #49
@keyone2693 Can you be more specific about your issue? Is it just a matter is peer dependency definition or is there anything else blocking you from using it, as of version 2.1.0?

[2020-02-24 09:48] zimo85 commented on #49
Yes, now it works.

[2020-03-01 18:52] VaFa666 opened #51 "Build problem in angular project since version 2.0.1"
Hi,
in versions 2.0.1 and 2.1.0 is there a ERROR while building angular project. When I run **ng build --prod** I received:

`ERROR in ./node_modules/ngx-material-file-input/fesm5/ngx-material-file-input.js
Module build failed (from ./node_modules/@angular-devkit/build-optimizer/src/build-optimizer/webpack-loader.js):
TypeError: Cannot read property 'kind' of undefined
    at isAngularDecoratorMet

[2020-03-06 16:27] nikitka commented on #49
Could you please release new version with updated peer dependencies?

[2020-03-11 14:48] jzgoda commented on #49
@merlosy, would you be able to bump the version on NPM to the latest master w/ the fixed peer dependency issue?

[2020-03-14 15:57] merlosy commented on #49
fixed with [2.1.1](https://github.com/merlosy/ngx-material-file-input/tree/v2.1.1)

[2020-03-14 15:57] #49 closed

[2020-03-14 16:02] merlosy commented on #51
Can you provide a reproduction case? I need more context to investigate this one

[2020-03-14 16:09] merlosy commented on #31
The [accept attribute](https://www.w3schools.com/tags/att_input_accept.asp) is supported and may do the job.

[2020-03-14 16:09] #31 closed

[2020-03-14 23:37] jamesonsaunders commented on #51
Same problem. On angular/core 7.2.0. Also building with --prod.

[2020-03-17 18:10] emiliobucha commented on #51
scrub-file.js
node_modules\@angular-devkit\build-optimizer\src\transforms

Change
    // Check second array entry for __metadata call.
    if (decorateArray.elements[1].kind !== ts.SyntaxKind.CallExpression) {
        return false;
    }

to

    // Check second array entry for __metadata call.
    if (decorateArray.elements[1]&& (decorateArray.elements[1].kind !== ts.SyntaxKind.CallExpression)) {

[2020-03-20 09:20] hellmark1990 opened #55 "An accessor cannot be declared in an ambient context."
@angular/core:  8.2.14
ngx-material-file-input: 2.1.1

`EROR in node_modules/ngx-material-file-input/lib/file-input/file-input.component.d.ts(29,9): error TS1086: An accessor cannot be declared in an ambient context.
node_1   | node_modules/ngx-material-file-input/lib/file-input/file-input.component.d.ts(30,9): error TS1086: An accessor cannot be declared in an ambient context.
node_1   | node_mod

[2020-03-24 19:11] mugambiwarwema commented on #55
@hellmark1990

Any word on this error or an alternative package I can use for file uploads?

[2020-03-25 13:12] bsh314 commented on #55
Same issue here. It seems like compatibility issue with TS version

[2020-03-25 17:56] suhasghodke commented on #55
Use previous version, i am doing the same.

[2020-03-25 19:03] mugambiwarwema commented on #55
@suhasghodk was right.

I downgraded(uninstalled) version 2.1.1 and Installed version 2.1.0

npm uninstall ngx-material-file-input

npm i ngx-material-file-input@2.1.0

Now all is well

[2020-03-31 13:06] raframil commented on #55
I got the same problem with @angular/core: ~8.2.14 and ngx-material-file-input: ^2.1.1

[2020-03-31 13:07] raframil commented on #55
I got the same problem with 2.1.1, downgrade to 2.1.0 solved it for me

[2020-04-09 10:18] sondreb opened #56 "Component breaks global CSS when encapsulation turned off globally"
After I changed from manually defining the encapsulation on each component, to be global, the usage of the ng-material-file-input will break the global styling. After it has first rendered, it breaks all input fields in the entire app.

[code]

Looks like this when I use a regular input field:

![image](https://user-images.githubusercontent.com/309938/78884806-d016f700-7a5b-11ea-96c5-07cee437ecd0.

[2020-04-14 06:18] blindsz commented on #51
Did this issue already fixed on angular 9?

[2020-05-13 08:21] yannbertrand commented on #51
I noticed Travis node version changed from 10 to 12 between 2.0.0 and 2.0.1.

When using 2.0.1 and node 10 I got the `Module build failed`.
When using 2.0.1 and node 12 I do not have the error.

So, I guess that from version 2.0.1 you'll have to use node 12.

[2020-06-10 11:32] supermanIT opened #59 "Ngx-material-file-input not working"
I found error like this.
./node_modules/@angular-material-components/file-input/__ivy_ngcc__/fesm2015/angular-material-components-file-input.js 48:39-57
"export '_MatInputMixinBase' was not found in '@angular/material/input'

[2020-06-11 18:27] oallauddin commented on #55
Ran into same error. You can try this.
https://www.npmjs.com/package/@angular-material-components/file-input

[2020-06-15 06:57] novarse commented on #59
I'm experiencing this as well.

[2020-07-16 16:12] matheuslemke commented on #51
Yes! Using 2.0.0 and node 10 I do not get the error.

[2020-07-20 21:14] merlosy commented on #59
Can you provide more context:
- What are you trying to do?
- Do you have a repro repo?
- What versions are you using (library, node, angular)?

[2020-08-04 00:24] pacozevallos commented on #59
Hello first thank you for this implementation.

I get the same error:

`This likely means that the library (ngx-material-file-input) which declares MaterialFileInputModule has not been processed correctly by ngcc, or is not compatible with Angular Ivy. Check if a newer version of the library is available, and update if so. Also consider checking with the library's authors to see if the library is

[2020-09-09 07:29] davidkarlsen opened #65 "Upgrade to Angular 10"
[code]

[2020-09-15 09:19] blindsz commented on #65
+1 can you please update this package to angular v10? Thanks!

[2020-09-15 11:23] Halfist opened #66 "Adding Files to Multiple Input Instead of Replacing"
Is it possible to add files to `multiple` input instead of replace? I mean currently file(s) are replaced by new one(s) on upload. I'd like to have a possibility to change such behavior. For example, I want to upload `1.txt`, then `2.txt`. Currently the result would be `2.txt`, while I want it to be `1.txt, 2.txt`.

[2020-10-08 09:32] jacques-hoventer opened #68 "Hitting Enter on a ReactiveForm that uses ngSubmit clears out the input making it invalid"
I have a very simple form with a one ngx-mat-file-input and another text infput:

<form [formGroup]="entityForm" (ngSubmit)="onAddFile($event)" (keyup.enter)="onAddFile($event)">
        <mat-form-field>
            <mat-label>Add file</mat-label>
            <ngx-mat-file-input #fileInput formControlName="file" color="primary" required>
            </ngx-mat-file-input>
            <button mat-ic

[2020-10-27 21:33] hisham opened #69 "Dropzone support"
Nice library. Seems like having some drop zone support like https://github.com/peterfreeman/ngx-dropzone would complete it.

[2020-10-27 21:34] hisham commented on #69
Ah I see https://github.com/merlosy/ngx-material-file-input/issues/6 is already open for this.

[2020-10-27 21:34] #69 closed

[2020-11-13 01:47] de-don commented on #65
+1

[2020-11-17 14:10] HugoBravo opened #70 "Upgrade to Angular 11"
Package "ngx-material-file-input" has an incompatible peer dependency to "@angular/common" (requires "^8.1.3 || ^9.0.0" (extended), would install "11.0.0").
Can you update please? 🙂

[2020-11-19 07:38] de-don commented on #70
+1

[2020-11-23 16:51] Halfist opened #71 "Input Value Is Cleared on Cancel After Open"
**Steps to reproduce:**
1. Click on input.
2. Select file, e.g. "readme.txt".
3. Click Open.
4. Verify that input value is "readme.txt".
5. Click on input.
6. Click Cancel.

**Actual behavior:**
Input value is cleared.

**Expected behavior:**
Input value remains "readme.txt".

[2020-12-15 01:00] ckapop opened #72 "Calling reset() on a from will not reset this control entirely."
When calling reset() on a form the selected text in the drop clears and the value gets set to null.

However, selecting the same file again after reset does not trigger the change event.

[2020-12-29 14:32] ruisilva450 opened #73 "Max size validator with multiple option"
For context, right now if we put a limit of 5mb on the overall selection like this:
[code]

It would be nice if we had the option to say the max size for each file when we have the multiple option as true.
Maybe something like this?
[code]

[2021-01-20 07:21] kellyprankin commented on #71
I'm also having this problem

[2021-01-20 23:39] kellyprankin commented on #70
+1

[2021-01-28 15:11] thiagopinheirolima opened #74 "Disable state is not updated if changed on form"
If you start your form with:

[code]
and at some point you change the disabled to **true**
the component doesn't update at all, but all the directive are correct if inspected.

[2021-01-29 10:55] ilbonte commented on #71
I'm having this problem too but I've discovered that is the default behaviour: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file

[2021-01-29 15:00] Leccho opened #75 "ngx-material-file-input can't be used with Angular 11"
Upgrading from Angular 10 to 11, I get this error:
`Package "ngx-material-file-input" has an incompatible peer dependency to "@angular/common" (requires "^8.1.3 || ^9.0.0" (extended), would install "11.1.1").`

Is there a plan to fix this issue?

[2021-01-29 15:19] Leccho commented on #75
It seems to work fine as of now, I deleted the packages for the upgrade and re-installed the packages after. I'd still like to see support to the latest angular version!

[2021-01-30 03:29] kellyprankin commented on #71
Are you sure about that? I just clicked one of their examples and it didn't remove a previously selected value when I pressed cancel

[2021-01-30 09:03] ilbonte commented on #71
Actually I found out that it depends on the browser: on Chrome the file is
removed, on Firefox is not

On Sat, 30 Jan 2021, 04:29 kelly, <notifications@github.com> wrote:

[2021-05-05 21:00] naviln commented on #70
+1

[2021-05-05 21:00] naviln commented on #75
+1 would really like this

[2021-05-12 19:58] desertSniper87 commented on #75
@Leccho What are you doing for workaround? I am using Angular 11 and getting this:

[2021-05-12 20:48] Leccho commented on #75
I deleted the `ngx-material-file-input` packages. You might wanna remove the `node_modules` folder. Then I use `npm install` to reinstall `node_modules`. Once installed I used `ng upgrade` to get version 11. Then I reinstalled `ngx-material-file-input`.

[2021-05-13 11:13] naviln commented on #75
Tried this, and worked! haha. thanks.

[2021-07-10 02:47] marquinmpfs opened #85 "Error when adding "multiple" properties in Angular 12"
Adding the "multiple" property to ngx-mat-file-input generates the following error:

![image](https://user-images.githubusercontent.com/10059932/125149531-f10f4180-e10f-11eb-8bcd-8e161539246b.png)

![image](https://user-images.githubusercontent.com/10059932/125149548-fff5f400-e10f-11eb-9ccd-579569c502b6.png)

[2021-07-22 07:24] PapaNappa commented on #85
Since `multiple` is a boolean property … have you tried `[multiple]="true"`?

[2021-07-29 00:03] #85 closed

[2021-07-29 00:03] marquinmpfs commented on #85
Resolved

[2021-09-08 16:20] yglodt opened #89 "Files being uploaded with 0 bytes with Safari on iOS"
Hello,

I have a strange issue with ngx-material-file-input on Safari on an iPhone (latest iOS). In fact, Safari simply does not upload the files. Or better said, it uploads them, but with 0 bytes size.

In MacOS, Windows, Linux and Android with Chrome and/or Firefox it works flawless.

As far as I remember, some time (months up to 1 year) ago the issue did not happen.

Is there any known issue or

[2021-11-08 09:52] damogallagher opened #92 "Upgrade to Angular13 fails"
When I upgraded to Angular 13 this morning - I started receiving this error

[code]

Would it be possible to get this issue fixed within the library?

[2021-11-08 17:03] mcaden commented on #92
I've looked into this some - it appears the main problem is that `FileInputMixinBase` uses type `CanUpdateErrorStateCtor` - but in NG 13 that type is no longer exported.

See commit: https://github.com/angular/components/commit/7bc9bfb9dc233256f6e7063c62e4371a5a1da346#diff-606a332883a0dda9b5ef3fa3473ab14ab59820c71ae2b04f801ec4d1d4e0ccb4

It was deprecated with the following:

[code]

[2021-11-08 18:02] mcaden commented on #92
I looked into their commits leading up to the deprecation and it looks like they basically just relaxed some of the type specifications and removed a bunch of the boilerplate. I did the same and created PR bringing everything up to 13. I haven't really worked with nx/nrwl but I think I got it right.

[2021-11-11 10:01] damogallagher commented on #92
Had a quick review of your pr @mcaden  and it looks good.
Would be great if @merlosy could review and merge as this is blocked our upgrade to Angular 13

[2021-11-16 22:34] damogallagher commented on #92
@mcaden could you by any chance create a fork of this repository with your fixes and push to npmjs.org?

[2021-11-17 17:29] mcaden commented on #92
I can... it feels a bit like hijacking so I don't think it's my first choice. I'm not entirely sure the etiquette on this?

What I've done in the meantime that is working for me is that my consuming project is using yarn 2 with [zero-installs](https://yarnpkg.com/features/zero-installs)

1. build my fork
2. use `yarn pack` in the built directory (dist\material-file-input)
3. copy the resulting fil

[2021-11-18 14:35] nbonneau commented on #92
Hello, we would need this fix for our Angular 13 migration as well, could you tell us when this will be fixed?

[2021-12-06 09:26] damogallagher commented on #92
Hi

I can verify this issue is now resolved

Thanks
Damien

[2021-12-06 15:45] FlorientR opened #104 "Add tags for different Angular version"
Hi !

Thank's for you library !

I want use your library but my project is on Angular v12 (I can't upgrade the Angular version).

Your tag v2.1.1 is for Angular <= 9
Tag 3.0 is for Angular >= 13

It's not possible to use this library on Angular 10 / 11 /12 ...

Thank's for your work !
Florient.

[2021-12-07 16:07] mcaden commented on #92
@damogallagher Did something get missed? Why reopen?

[2021-12-09 18:37] MRisto-zz commented on #104
Hey support i can't unsubscribe from this.

[2021-12-11 09:07] jordankkk commented on #92
On angular v13.1 error

[code]

[code]

[2021-12-31 16:44] mcaden commented on #92
@jordankkk That's the same issue I fixed in the PR above and merlosy released in version 3.0.0. I've just updated to angular 13.1 and I can verify that it still works fine. Are you using 3.0.0?

I'm not sure why this issue is still open. @damogallagher can you shed some light on this?

[2021-12-31 16:57] damogallagher commented on #92
Apologies this issue can be closed. I will close now

[2021-12-31 16:57] #92 closed

[2021-12-31 17:02] mcaden commented on #92
Thanks. I just wasn't sure if reopening meant I missed something or if it was an accident/mistake.

[2022-03-18 09:23] Pola8976 commented on #89
Its happening on windows 11 too.

[2022-03-18 09:25] Pola8976 opened #108 "FileList lenght 0"
Windows 11 Angular 13

[2022-04-21 22:58] mfeblowitz opened #110 "Problem compiling v2.1.1 under Angular 9.1.4: failure in diagnostic"
Consistently seeing this:
[code]

The exception can be traced to `addParseSpanInfo` in  `@angular/compiler-cli/src/ngtsc/typecheck/src/diagnostics.js` and is due to a null `span` element, from one of the many `addParseSpanInfo` calls.

Inserting a test for an undefined span bypasses the message above, but it seems there is something missing upstream. Also, not easy to patch, in a complex install i

[2022-06-03 12:17] davidkarlsen opened #111 "Upgrade to Angular 14"
[code]

[2022-06-10 07:17] JeremieLapert commented on #111
Any idea for the processing date of this version update?

[2022-06-12 14:35] edwinsp94 commented on #111
Hi! I am using "ngx-material-file-input": "^3.0.0", but i get the next error:

ERROR Error: Uncaught (in promise): TypeError: Cannot read properties of undefined (reading 'next')
TypeError: Cannot read properties of undefined (reading 'next')
    at set placeholder [as placeholder] (ngx-material-file-input.mjs:97:27)

The error is in "file-input.component.mjs"

set placeholder(plh) {
        this.

[2022-06-16 06:53] rRaDuCaN commented on #111
Hi all, can we close the issue ?

[2022-06-18 22:59] erwindemoel commented on #111
@rRaDuCaN No you can't close the issue. We upgraded our project to Angular 14 but are also having issues with the ngx-material-file-input package. When will you support Angular 14?

[2022-07-04 22:22] edwinsp94 commented on #111
@rRaDuCaN I confirm, I proceeded with the review and the problem was solved, thanks to all👍

[2022-11-23 14:11] mattytommo opened #126 "Angular 15/Material 15 support"
Could we possibly get Angular 15 & Material 15 support? This is the only package I have that doesn't support 15, so would be good to get it upgraded :).